{{- $paginator := .Paginator }}
{{- if gt $paginator.TotalPages 1 }}
  <div class = 'pager'>
    <!-- {{ if $paginator.HasPrev }}
      <a href = '{{ $paginator.Prev.URL }}'  class = ' pager_item pager_prev'></a>
    {{ else }}
      <span class = ' pager_item pager_active pager_prev'></span>
    {{- end }}
     -->
    {{ range $paginator.Pagers -}}
      <a href = '{{ $.Site.BaseURL }}{{ .URL }}' class = 'pager_item{{ if eq . $paginator }} pager_active{{ end }}'>{{ .PageNumber }}</a>
    {{ end }}

    <!-- {{- if $paginator.HasNext -}}
      <a href = '{{ $paginator.Next.URL }}' class = ' pager_item pager_next'></a>
    {{ else -}}
      <span class = ' pager_item pager_active pager_next'></span>
    {{ end }} -->
  </div>
{{- end }}
